body {
    font-family: 'Quicksand', sans-serif !important;
    background-image: url("./bush.png");
}

h1,
footer,
.navbar {
    font-family: 'Homemade Apple', cursive;
}

label {
    margin-bottom: 0rem;
}

ul {
    margin-bottom: 0rem;
}

li {
    text-align: center!important;
}

.navbar {
    color: white!important;
    background-color: #1469a2;
}

.row-hero {
    margin-bottom: 20px;
}

.row-style {
    margin-top: 20px;
    padding: 5px;
}

.about-me-header{
    font-size: 20px;
}

.btn {
    background-color: #1469a2!important;
    color: white!important;
}

.fa-icons {
    color: #1469a2!important;
}

.fa-map-marker:hover,
.fa-phone:hover,
.fa-envelope:hover {
    color: black;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-linkedin,
.fa-github,
.fa-facebook,
.fa-instagram,
.fa-youtube {

    padding: 10px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color:#0e76a8;
}

.fa-github {
    background-color:#F1502F;
}

.fa-facebook {
    background-color: #3b5998;
}

.fa-instagram {
    background-color: #fc77ae;
}

.fa-youtube {
    background-color: red;
}

.menu li {
    display: inline;
}

#header {
    padding-top: 25px;
}

#row-bottom {
    padding-bottom: 100px;
}

#footer {
    color: black!important;
    background-color: white;
    font-size: 14px;
}