body {
    font-family: 'Quicksand', sans-serif !important;
    background-image: url("./bush.png");
    /*background-size: contain;*/
}

p,
span {
    text-align: center;
    margin-bottom: 5px;
}

ul {
    margin-bottom: 0rem;
}

li {
    text-align: center!important;
}

.contact {
    color: #1469a2!important;
}

h1,
h5,
footer,
.navbar {
    font-family: 'Homemade Apple', cursive;
}

h1.name {
    font-size: 20px;
}

.navbar {
    color: white!important;
    background-color: #1469a2;
}

#footer {
    color: black!important;
    background-color: white;
    font-size: 14px;
}

.my-row {
    height: 90%;
    /*border: solid hotpink;*/
}

.my-row2 {
    height: 30%;
    margin-bottom: 40px;
    /*border: solid purple;*/
}

.my-row3 {
    height: 40%;
    margin-bottom: 30px;
    /*border: solid orange;*/
}

.my-row-hero {
    height: 60%;
    margin-bottom: 30px;
    /*border: solid green;*/
}

.thin-row {
    margin-bottom: 30px;
    margin-top: 30px;
    height: 10%;
    padding: 20px;
    /*border: solid blue;*/
}

.thin-row2 {
    height: 5%;
    margin-bottom: 30px;
    /*border: solid blue;*/
}

.my-col {
    /*border: solid red;*/
}

.fa-linkedin,
.fa-github,
.fa-facebook,
.fa-instagram,
.fa-youtube {

    padding: 10px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color:#0e76a8;
}

.fa-github {
    background-color:#F1502F;
}

.fa-facebook {
    background-color: #3b5998;
}

.fa-instagram {
    background-color: #fc77ae;
}

.fa-youtube {
    background-color: red;
}

.fa-map-marker:hover,
.fa-phone:hover,
.fa-envelope:hover {
    color: black;
}

.btn-primary {
    background-color: #1469a2!important;
    color: white!important;
}

ul.menu li {
    display: inline;
}

.copy {
    color: black;
}

/*.my-col {
    border: red solid 5px;
}

.row {
    border: red solid 5px;
}*/